@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Anonymous+Pro:ital,wght@0,400;1,700&family=Fuggles&family=Inter:wght@200&family=Josefin+Slab:wght@100&family=Kalnia:wght@100&family=Lato:ital,wght@0,400;1,300;1,900&family=Montserrat:ital,wght@1,200&family=Roboto+Mono:ital,wght@0,100;1,100;1,200&family=Roboto:wght@500&family=Silkscreen&family=Teko:wght@300&family=Zeyada&display=swap");

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Teko", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  justify-items: center;
  margin-bottom: 20vh;
}

.card {
  background-color: #7dbfc3;
  border-radius: 10px;
  border: 10px solid white;
  min-height: 20vh;
  max-height: 20vh;
  min-width: 10vw;
  max-width: 10vw;
}

h2 {
  margin: 0;
}

.text {
  margin-top: 5vh;
}

.image {
  width: 50%;
}

.animation {
  position: relative;
  animation: le 900ms infinite alternate;
}

@keyframes le {
  0% {
    top: 0px;
  }
  50% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    top: 10px;
  }
}
